*{
    margin: 0px;
    padding: 0px;
}

/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar img{
    cursor: pointer;
}
#navbar::before{
    content: "";
    background: black;
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.4;
}
/* navigation bar img and logo */
#logo{
    margin: 2px 4px;
}
#logo img{
    margin: 2px 10px;
    width:  100px;
}
/* navigation bar list styling */
ul{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 10px;
    color: aliceblue;
}
ul li a:hover{
    color: black;
    background: white;
}
/* home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-items: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(218, 170, 50);
    opacity: 0.1;
}
#home h1{
    color: rgb(248, 241, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}
#home p{
    color:  rgb(34, 33, 33);
    font-size: 1.2rem;
    font-weight: bolder;   
}
*{
    box-sizing: border-box;
}
.imgcon{
    align-items: baseline;
    justify-items: center;
    align-items: center;
    margin-left: 30px;
    cursor: pointer;
}
.imgcon img{
    margin: 10px;
}
.pics{
    align-items: baseline;
    justify-items: center;
    align-items: center;
    margin-left: 0px;
    cursor: pointer;
}
/* untility classes*/
.h-primary{
    padding: 13px;
    font-size: 3.5rem;
}
.h-primary h1{
   font-style: oblique;
}
.client-container{
    position: relative;

}
footer{
    background-color: rgb(53, 51, 51);
}
#clinet{
display: flex;
}
.client-item li a:hover{
    color: none;
    background-color: none;
}
.client-item p{
    color: gray;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1px  60px;
}
.pics{
    padding: 10px 30px;
}
.footp{
    background-color: rgb(29, 29, 29);
    padding: 20px 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}
footer img{
    cursor: pointer;
}

footer{
    background-color: black;
}
p{
    color: rgb(255, 255, 255);
}
pre{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 160%;
    color: rgb(255, 255, 255);
    }
    
    ul li{
    list-style: none;
    font-size: 1.rem;
    }
    #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-items: center;
    align-items: center;
    }
    
    #home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(218, 170, 50);
    opacity: 0.1;
    }
    #home p{
    font: 1em sans-serif;
    color: rgb(34, 57, 43);
    font-size: 2rem;
    }
    .btn{
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 6px 25px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(250, 88, 88);
    cursor: pointer;
    }
    
    /* untility classes*/
    .h-primary{
    padding: 13px;
    font-size: 3.5rem;
    }
    
.pics img{
    padding: 0% .6%;
    cursor: pointer;
}











h1{
    font: 1em sans-serif;
    color: rgb(57, 48, 34);
}
/* navigation bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar::before{
    content: "";
    background: black;
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.4;
}
/* navigation bar img and logo */
#logo{
    margin: 2px 4px;
}
#logo img{
    margin: 2px 10px;
    width:  100px;
}
/* navigation bar list styling */
ul{
    display: flex;
}
ul li{
    list-style: none;
    font-size: 1.5rem;
}
ul li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
ul li a:hover{
    color: rgb(255, 255, 255);
    background: rgb(245, 131, 0);
}
/* home section*/
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-items: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(218, 170, 50);
    opacity: 0.1;
}
#home p{
    font: 1em sans-serif;
    color: rgb(57, 48, 34);
    font-size: 2rem;
}
.btn{
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 6px 25px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(250, 88, 88);
    cursor: pointer;
}

/* untility classes*/
.h-primary{
    padding: 13px;
    font-size: 3.5rem;
}
footer img{
    cursor: pointer;
}
footer{
    background-color: black;
}
p{
    color: rgb(57, 48, 34);
    font-size: 155%;
}
.pics{
    padding: .1% 1%;
}
.pics img{
    padding: 0% .4%;
    cursor: pointer;
}
pre{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 160%;
    color: rgb(255, 255, 255);
}
